@font-face {
  font-family: pokemonsolid;
  src: url(../../dist/fonts/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: gamefont;
  src: url(../../dist/fonts/pokemongamefont.ttf);
}

.body{
    background-color: rgb(46,93,164);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: pokemonsolid;
    color: rgb(255,203,3);
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background img {
    height: 500px;
    width: 1000px;
}

.attacks {
    position: absolute;
    display: flex;
    top: calc(459px);
    height: 120px;
    left: calc(50% - 470px);

    width: fit-content;
}
.attacks-left {
    display: flex;
    /* justify-content: space-between; */
    width: fit-content;
}
.attack-buttons {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    justify-content: space-between;
    width: fit-content;
    font-family: gamefont;
    align-items: center;
    height: fit-content;
    
}

.attack-buttons button {
    align-items: center;
    width: 320px;
    height: 60px;
    cursor: pointer;
    font-family: gamefont;
    background-color: transparent;
    color: white;
    font-size: large;
    border: 1px solid white;
    border-radius: 12px;
}

.attack-side {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    font-family: gamefont;
    border: 1px solid white;
    border-radius: 12px;
    width: 246px;
    color: white;
    font-size: large;
}

#as1 {
    padding-bottom: 35px;
    padding-top: 21px;
}



.rules-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(175px);
    left: calc(50% - 470px);
    border: 1px solid white;
    border-radius: 12px;
    width: fit-content;
    z-index: 50;
   
    color: white;
    font-family: gamefont;
}

.rules{
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid white;
    
    padding: 20px;
    font-size: 12px;

}

#poke-info-name {

    

     padding: 20px;
     border-bottom: 1px solid white;
}

#poke-info {
    display: flex;
    flex-direction: column;
   padding: 20px;
border-bottom: 1px solid white;
     
     font-size: 12px;
     
}

#poke-info span {
    padding-bottom: 10px;
}


#testing{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}


#testing button {
    background-color: transparent;
    color: white;
    font-family: gamefont;
    border: none;
    cursor: pointer;
    

}

#testing button:focus {
    outline: 0;
}



.DivToScroll{ 

  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: gamefont;
  color: white;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  
}

.DivWithScroll{

    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.DivWithScroll span button {
    font-size: 18px;
    font-weight: 600;
}

.DivWithScroll button{
    height: 240px;
    width:500px;
    background-color: lightblue;
    border: 1px solid white;
    border-radius: 12px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    cursor: pointer;
    font-family: gamefont;
  color: white;
}


#player1{
    width: 220px;
    height: 220px;
    /* top: 267px; */
    position: absolute;
    top: 290px;
    left: 340px;
}

#player2{
    width: 220px;
    height: 220px;
    /* top: 267px; */
    position: absolute;
    top: 100px;
    right: 340px;
}

.going-test {
    border: none;
    width: 70%;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}



#battlehp1 {
    font-family: gamefont;
    position: absolute;
    top: 340px;
    left: 880px;
    font-size: 26px;
}

#battlehp2 {
    font-family: gamefont;
    position: absolute;
    top: 162px;
    left: 370px;
    font-size: 26px;
}

#HP1 {
    font-family: gamefont;
    position: absolute;
    top: 340px;
    left: 820px;
    font-size: 26px;
}

#HP2 {
    font-family: gamefont;
    position: absolute;
    top: 162px;
    left: 310px;
    font-size: 26px;
}

#player-1-going {
    align-items: center;
}

#desc {
 font-family: gamefont;
    background-color: transparent;
    color: white;
    font-size: large;
    /* border: 1px solid white; */
    border-radius: 12px;
    padding: 10px;
    word-spacing: 10px;

}


#touches {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

#touches2 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}

#touches3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

